<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GDCircleSelect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8217D561C2167D9000A8370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8217D6F1C2167D9000A8370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8217D7A1C2167D9000A8370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
